@font-face {
  font-family: 'GothamLight';
  src: local('GothamLight'), url('../../assets/fonts/GothamLight.otf') format('opentype');
}
.message-form {
  position: relative;
  textarea {
    font-family: 'GothamLight';
    height: 230px;
    padding-left: 20px;
    padding-top: 20px;
    outline: none;
    color: #777777;
    font-size: 16px;
    border-radius: 10px;
    &::placeholder {
      font-family: 'GothamLight';
      font-size: 12px;
    }
  }
  .btn-textarea {
    position: absolute;
    right: -40px;
    bottom: -25px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #CE4A4A;
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
  }
}
@media (max-width: 767.98px) {
  .message-form{
    margin-top: 15px;
    textarea {
      height: 120px;
      padding-left: 20px;
      padding-top: 20px;
      outline: none;
      color: #777777;
      border-radius: 10px;
    }
    .btn-textarea {
      position: absolute;
      right: -25px;
      bottom: -20px;
      width: 50px;
      height: 50px;
      font-size: 2rem;

    }
  }
}